Rpi0 - MQTT - Tasmota - Sonoff - Switch/06 Shelly/thermo-swtch-shelly-NODE-RED.json
[{"id":"4f279f69.8620b","type":"tab","label":"thermo-swtch-shelly","disabled":false,"info":""},{"id":"87eb5fd3.9e5a1","type":"mqtt in","z":"4f279f69.8620b","name":"","topic":"shellies/shelly1-767E2C/relay/0","qos":"2","datatype":"auto","broker":"950cca0c.8b3df8","x":170,"y":240,"wires":[["71b99ca5.53ac24","8fe6aab2.fe94f8"]]},{"id":"200f3b98.c9e2c4","type":"comment","z":"4f279f69.8620b","name":"thermostat-switch: physical switch state","info":"","x":190,"y":60,"wires":[]},{"id":"71b99ca5.53ac24","type":"mqtt out","z":"4f279f69.8620b","name":"","topic":"shellies/shelly1-770B40/relay/0/command","qos":"","retain":"","broker":"950cca0c.8b3df8","x":660,"y":240,"wires":[]},{"id":"eb1a3f10.fa4f3","type":"trigger","z":"4f279f69.8620b","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"31","extend":true,"units":"s","reset":"","bytopic":"all","name":"Watchdog","x":400,"y":140,"wires":[["71b99ca5.53ac24","4e00d8c2.0eab78"]]},{"id":"c8ffe4b0.a18628","type":"mqtt in","z":"4f279f69.8620b","name":"","topic":"shellies/shelly1-767E2C/input/0","qos":"2","datatype":"auto","broker":"950cca0c.8b3df8","x":170,"y":100,"wires":[["eb1a3f10.fa4f3"]]},{"id":"f87dd5e7.42bed8","type":"comment","z":"4f279f69.8620b","name":"thermostat-switch: overall status","info":"","x":170,"y":200,"wires":[]},{"id":"504605e0.cb8ecc","type":"comment","z":"4f279f69.8620b","name":"boiler-switch: on/off command // output","info":"","x":650,"y":200,"wires":[]},{"id":"7ba9216e.d942d","type":"inject","z":"4f279f69.8620b","name":"","topic":"Sonoff Switch PING","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0","x":130,"y":440,"wires":[[]]},{"id":"25139c47.8b3784","type":"mqtt out","z":"4f279f69.8620b","name":"","topic":"shellies/shelly1-767E2C/relay/0","qos":"","retain":"","broker":"950cca0c.8b3df8","x":630,"y":440,"wires":[]},{"id":"4e00d8c2.0eab78","type":"debug","z":"4f279f69.8620b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":100,"wires":[]},{"id":"9132058d.4a8518","type":"comment","z":"4f279f69.8620b","name":"PWR check: pings status every 6s","info":"","x":180,"y":400,"wires":[]},{"id":"27321750.d40498","type":"comment","z":"4f279f69.8620b","name":"thermostat-switch: is it on?","info":"","x":610,"y":400,"wires":[]},{"id":"8fe6aab2.fe94f8","type":"debug","z":"4f279f69.8620b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":300,"wires":[]},{"id":"950cca0c.8b3df8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]