Rpi0 - MQTT - Tasmota - Sonoff - Switch/05 Node-Red/thermostat-switch-v2.json
[{"id":"21a40b18.25af54","type":"tab","label":"thermostatic-boiler-switch-FLOW","disabled":false,"info":""},{"id":"d4e916f4.01c308","type":"mqtt in","z":"21a40b18.25af54","name":"","topic":"stat/house/thermostat-switch/#","qos":"2","datatype":"auto","broker":"950cca0c.8b3df8","x":220,"y":160,"wires":[["32e35716.3c3938","f291a07.041bc6","2cab87f8.0b62e8"]]},{"id":"2cab87f8.0b62e8","type":"mqtt out","z":"21a40b18.25af54","name":"","topic":"cmnd/house/boiler-switch/POWER","qos":"","retain":"","broker":"950cca0c.8b3df8","x":570,"y":160,"wires":[]},{"id":"32e35716.3c3938","type":"debug","z":"21a40b18.25af54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":80,"wires":[]},{"id":"7fbff088.4e53d","type":"inject","z":"21a40b18.25af54","name":"","topic":"Sonoff Switch PING","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0","x":250,"y":400,"wires":[["494e5dc7.8368c4"]]},{"id":"494e5dc7.8368c4","type":"mqtt out","z":"21a40b18.25af54","name":"","topic":"cmnd/house/thermostat-switch/STATUS","qos":"","retain":"","broker":"950cca0c.8b3df8","x":540,"y":400,"wires":[]},{"id":"f291a07.041bc6","type":"trigger","z":"21a40b18.25af54","op1":"","op2":"OFF","op1type":"nul","op2type":"str","duration":"6","extend":true,"units":"s","reset":"","bytopic":"all","name":"Watchdog","x":260,"y":260,"wires":[["7296f8e.833a308","2cab87f8.0b62e8"]]},{"id":"7296f8e.833a308","type":"debug","z":"21a40b18.25af54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":260,"wires":[]},{"id":"950cca0c.8b3df8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]