Rpi0 - MQTT - Tasmota - Sonoff - Switch/05 Node-Red/thermostat-switch-v1.json
[{"id":"cf0a768f.9f1118","type":"tab","label":"Thermostat-Boiler-Switch","disabled":false,"info":""},{"id":"3bc36899.b8b978","type":"mqtt in","z":"cf0a768f.9f1118","name":"","topic":"stat/house/thermostat-switch/#","qos":"2","datatype":"auto","broker":"7a683a8c.4500f4","x":160,"y":60,"wires":[["9511175b.3b7198","5b462f1e.888c7"]]},{"id":"9b73b7db.a8b978","type":"mqtt in","z":"cf0a768f.9f1118","d":true,"name":"","topic":"stat/house/boiler-switch/#","qos":"2","datatype":"auto","broker":"7a683a8c.4500f4","x":150,"y":320,"wires":[["dc6a9d64.23ab"]]},{"id":"5b462f1e.888c7","type":"mqtt out","z":"cf0a768f.9f1118","name":"","topic":"cmnd/house/boiler-switch/power","qos":"2","retain":"","broker":"7a683a8c.4500f4","x":630,"y":260,"wires":[]},{"id":"9511175b.3b7198","type":"switch","z":"cf0a768f.9f1118","name":"JSON format?","property":"$substring(msg.payload, 0, 1)=\"{\"","propertyType":"jsonata","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":80,"wires":[["7cfccbab.208154"],["1129551d.ac1acb"]]},{"id":"7cfccbab.208154","type":"json","z":"cf0a768f.9f1118","name":"","property":"payload","action":"","pretty":false,"x":590,"y":20,"wires":[["1129551d.ac1acb"]]},{"id":"1129551d.ac1acb","type":"debug","z":"cf0a768f.9f1118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":80,"wires":[]},{"id":"dc6a9d64.23ab","type":"switch","z":"cf0a768f.9f1118","name":"JSON format?","property":"$substring(msg.payload, 0, 1)=\"{\"","propertyType":"jsonata","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":380,"wires":[["ce0e877d.4c6c48"],["99851a7a.c52198"]]},{"id":"ce0e877d.4c6c48","type":"json","z":"cf0a768f.9f1118","name":"","property":"payload","action":"","pretty":false,"x":570,"y":340,"wires":[["99851a7a.c52198"]]},{"id":"99851a7a.c52198","type":"debug","z":"cf0a768f.9f1118","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":380,"wires":[]},{"id":"ed83b9cc.5cad08","type":"mqtt out","z":"cf0a768f.9f1118","d":true,"name":"","topic":"cmnd/house/thermostat-switch/power","qos":"2","retain":"","broker":"7a683a8c.4500f4","x":650,"y":200,"wires":[]},{"id":"7992f022.7adec","type":"inject","z":"cf0a768f.9f1118","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":200,"wires":[["ed83b9cc.5cad08","5b462f1e.888c7"]]},{"id":"cffcde02.3d507","type":"inject","z":"cf0a768f.9f1118","name":"","topic":"cmnd/home/thermostat-switch/power","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["ed83b9cc.5cad08","5b462f1e.888c7"]]},{"id":"7a683a8c.4500f4","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"node-red-hub","birthQos":"2","birthRetain":"false","birthPayload":"started","closeTopic":"node-red-hub","closeQos":"2","closePayload":"ended","willTopic":"node-red-hub","willQos":"2","willPayload":"connection ended unexpectedly"}]