Rpi0 - MQTT - Tasmota - Sonoff - Switch/05 Node-Red/trigger-timeout-example.json
[{"id":"6199b507.0023bc","type":"tab","label":"trigger-timeout","disabled":false,"info":"Trigger a flow if a message isn’t received \nafter a defined time"},{"id":"b009d51e.1ceb28","type":"debug","z":"6199b507.0023bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":160,"wires":[]},{"id":"b1cf9c9.bba076","type":"inject","z":"6199b507.0023bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":160,"wires":[["39269d05.2eb212","b009d51e.1ceb28"]]},{"id":"39269d05.2eb212","type":"trigger","z":"6199b507.0023bc","op1":"","op2":"timeout","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"Watchdog","x":390,"y":200,"wires":[["8481eb6d.f2ab78"]]},{"id":"8481eb6d.f2ab78","type":"debug","z":"6199b507.0023bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":200,"wires":[]}]